.btn {
  padding: 10px;
  color: lime;
}

button {
  padding: 20px;
  background-color: yellow;
  color: blue;
  margin: 10px;
}


.add {
  background-color: lime;
}

.remove {
  background-color: red;
}
